<a href="https://colab.research.google.com/github/farelagustin/2025_algoritma_dan_pemrograman/blob/main/Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01: Pengenalan Variabel dan Tipe Data

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'membaca', 'musik', 'olahraga'} → <class 'set'>

#Praktikum 02: Input dan Output Dasar

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Moh Farel Agustin
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 170
Halo, Moh Farel Agustin umur Anda: 18 tahun, tinggi: 170.0 cm
Halo Moh Farel Agustin, umur Anda 18 tahun, tinggi 170.0 cm
Halo Moh Farel Agustin, umur Anda 18 tahun, tinggi 170.0 cm

#Praktikum 03: Operator Aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

#Praktikum 04: Operator Relasional

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y  :", x < y)
print("x > y  :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y  : True
x > y  : False
x <= y : True
x >= y : False

#Praktikum 05: Operator Logika dengan Studi Kasus Nyata

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b  =", a or b)
print("not a   =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b = False
a or b  = True
not a   = False
Masukkan nilai ujian: 90
Masukkan jumlah kehadiran: 16
Status: LULUS

#Praktikum 06: Program Kasir Sederhana

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total  : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar  : Rp {bayar}")

Masukkan nama barang: Aqua botol 600 mL
Masukkan harga barang: 3500
Masukkan jumlah barang: 2

===== Struk Belanja =====
Barang : Aqua botol 600 mL
Jumlah : 2
Total  : Rp 7000.0
Diskon : 0%
Bayar  : Rp 7000.0

#Penugasan 01: Identitas Mahasiswa

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# bool
is_aktif = True

if is_aktif:
    print(f"Halo {nama}, umur Anda {umur} tahun, tinggi badan Anda {tinggi} cm, status Anda AKTIF")
else:
    print(f"Halo {nama}, umur Anda {umur} tahun, tinggi badan Anda {tinggi} cm, status Anda TIDAK AKTIF")

Masukkan nama Anda: Moh Farel Agustin
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 170
Halo Moh Farel Agustin, umur Anda 18 tahun, tinggi badan Anda 170.0 cm, status Anda AKTIF

#Penugasan 02: Operasi Aritmatika

In [2]:
b1 = int(input("Masukkan bilangan bulat pertama: "))
b2 = int(input("Masukkan bilangan bulat kedua: "))

print("b1 + b2 =", b1 + b2)
print("b1 - b2 =", b1 - b2)
print("b1 * b2 =", b1 * b2)
print("b1 / b2 =", b1 / b2)
print("b1 % b2 =", b1 % b2)
print("b1 ** b2 =", b1 ** b2)

Masukkan bilangan bulat pertama: 2
Masukkan bilangan bulat kedua: 2
b1 + b2 = 4
b1 - b2 = 0
b1 * b2 = 4
b1 / b2 = 1.0
b1 % b2 = 0
b1 ** b2 = 4

#Penugasan 03: Konversi Nilai

In [ ]:
angka = float(input("Masukkan angka desimal: "))
print("Dalam bentuk integer:", int(angka))
print("Dalam bentuk string:", str(angka))
print("Dibulatkan 2 digit di belakang koma:", round(angka))

Masukkan angka desimal: 2.98
Dalam bentuk integer: 2
Dalam bentuk string: 2.98
Dibulatkan 2 digit di belakang koma: 3

#Penugasan 04: Operator Relasional

In [4]:
b1 = int(input("Masukkan bilangan pertama: "))
b2 = int(input("Masukkan bilangan kedua: "))

print("Bilangan pertama == Bilangan kedua :", b1 == b2)
print("Bilangan pertama != Bilangan kedua :", b1 != b2)
print("Bilangan pertama < Bilangan kedua  :", b1 < b2)
print("Bilangan pertama > Bilangan kedua  :", b1 > b2)
print("Bilangan pertama <= Bilangan kedua :", b1 <= b2)
print("Bilangan pertama >= Bilangan kedua :", b1 >= b2)

Masukkan bilangan pertama: 6
Masukkan bilangan kedua: 4
Bilangan pertama == Bilangan kedua : False
Bilangan pertama != Bilangan kedua : True
Bilangan pertama < Bilangan kedua  : False
Bilangan pertama > Bilangan kedua  : True
Bilangan pertama <= Bilangan kedua : False
Bilangan pertama >= Bilangan kedua : True