<a href="https://colab.research.google.com/github/farelagustin/2025_algoritma_dan_pemrograman/blob/main/Jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01: Perulangan For dengan Range

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

#Praktikum 02: Perulangan While

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
    print(n)
    n -= 1

Masukkan angka: 5
5
4
3
2
1

#Praktikum 03: Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 5):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****

#Praktikum 04: Break and Continue

In [ ]:
# Break
for i in range(1, 10):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [ ]:
# Continue
for i in range(1, 5):
  if i % 2 == 1:
      continue
  print(i)

2
4

#Praktikum 05: For pada Dictionary

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

#Praktikum 06: For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

#Praktikum 07: Studi Kasus Program Kasir Multi-Item

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

#Penugasan 01: Menampilkan Deret Angka

In [ ]:
print("Angka kelipatan 3 dari 3 sampai 30: ")
for i in range(3, 30):
  if i % 3 == 0:
    print(i)

Angka kelipatan 3 dari 3 sampai 30:
3
6
9
12
15
18
21
24
27

#Penugasan 02: Hitung Faktorial

In [ ]:
n = int(input("Masukkan bilangan: "))

faktorial = 1
i = 1

while i <= n:
    faktorial *= i
    i += 1

print("Faktorial dari", n, "adalah", faktorial)

Masukkan bilangan: 5
Faktorial dari 5 adalah 120

#Penugasan 03: Pola Segitiga Terbalik

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

#Penugasan 04: Cari Bilangan Prima dengan Break

In [ ]:
n = int(input("Masukkan sebuah bilangan: "))

if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print(n, "bukan bilangan prima karena bisa dibagi", i)
            break
    else:
        print(n, "adalah bilangan prima")
else:
    print(n, "bukan bilangan prima")

Masukkan sebuah bilangan: 8
8 bukan bilangan prima karena bisa dibagi 2

#Penugasan 05: Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
for i in range(1, 20):
  if i % 2 == 1:
      continue
  print(i)

2
4
6
8
10
12
14
16
18

#Penugasan 06: Iterasi Dictionary Mahasiswa

In [ ]:
mahasiswa = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}

for k, v in mahasiswa.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

#Penugasan 07: Enumerate Daftar Barang

In [ ]:
barang = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(barang, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

#Penugasan 08: Studi Kasus-Kasir Diskon

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal
  if total >= 200000:
      diskon = 0.1
  else:
      diskon = 0

bayar = total - (total * diskon)

print("\n===== Struk Belanja =====")
print(f"Jumlah Barang : {jumlah}")
print(f"Harga Barang  : {harga}")
print(f"Total Harga   : {total}")
print(f"Diskon Harga  : {diskon*100}%")
print(f"Total Belanja : Rp {bayar}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): aqua
Masukkan harga aqua: 100000
Masukkan jumlah aqua: 10
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Jumlah Barang : 10
Harga Barang  : 100000.0
Total Harga   : 1000000.0
Diskon Harga  : 10.0%
Total Belanja : Rp 900000.0