<a href="https://colab.research.google.com/github/farelagustin/2025_algoritma_dan_pemrograman/blob/main/Jobsheet_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01: Membuat dan Mengakses List ID

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])   #Andi
print(mahasiswa[1])   #Budi
print(mahasiswa[-1])  #Cici

Andi
Budi
Cici

#Praktikum 02: Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

#Praktikum 03: Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])    # [85, 90, 78]
print(nilai[2:])     # [78, 92, 88]
print(nilai[:3])     # [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

#Praktikum 04: List 2D(Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])    # 1
print(matriks[1][2])    # 6
print(matriks[2])       # [7, 8, 9]

1
6
[7, 8, 9]

#Praktikum 05: Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

#Praktikum 06: Studi Kasus-Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

#Penugasan 01: Akses Element List

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici", "Dedi", "Erni"]
print("Nama Mahasiswa pertama         : ", mahasiswa[0])    # Nama Pertama
print("Nama Mahasiswa terakhir        : ", mahasiswa[4])    # Nama Terakhir
print("Nama Mahasiswa pada indeks ke-2: ", mahasiswa[2])    # Nama pada Indeks ke-2

Nama Mahasiswa pertama         :  Andi
Nama Mahasiswa terakhir        :  Erni
Nama Mahasiswa pada indeks ke-2:  Cici

#Penugasan 02: Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

#Penugasan 03: Slicing List

In [ ]:
nilai = [1,2,3,4,5,6,7,8,9,10]

print("Tiga elemen pertama:", nilai[:3])
print("Empat elemen terakhir:", nilai[-4:])
print("Elemen dengan indeks genap:", [nilai[i] for i in range(len(nilai)) if i % 2 == 0])

Tiga elemen pertama: [1, 2, 3]
Empat elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap: [1, 3, 5, 7, 9]

#Penugasan 04: List 2D - Matriks

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print("Elemen baris pertama kolom kedua : ", matriks[0][1])
print("Elemen baris kedua kolom ketiga  : ", matriks[1][2])
print("Seluruh baris pertama            : ", matriks[0])

Elemen baris pertama kolom kedua :  2
Elemen baris kedua kolom ketiga  :  6
Seluruh baris pertama            :  [1, 2, 3]

#Penugasan 05: Operasi Matriks 2D

In [ ]:
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)

print(C)

[[6, 8], [10, 12]]

#Penugasan 06: Rata-rata Nilai Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

#Penugasan 07: Studi Kasus - Data Toko

In [ ]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar Barang dan Jumlah Stok")

for barang in stok:
    print(f"{barang[0]}: {barang[1]}")

stok_terbanyak = stok[0]

for barang in stok:
    if barang[1] > stok_terbanyak[1]:
        stok_terbanyak = barang

print(f"\nBarang dengan stok terbanyak: {stok_terbanyak[0]} dengan jumlah {stok_terbanyak[1]}")

Daftar Barang dan Jumlah Stok
Buku: 20
Pulpen: 35
Penghapus: 15

Barang dengan stok terbanyak: Pulpen dengan jumlah 35