<a href="https://colab.research.google.com/github/farelagustin/2025_algoritma_dan_pemrograman/blob/main/Jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur  :", koordinat[1])

Lintang: 7.05
Bujur  : 110.44

#Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM  :", mahasiswa["NIM"])
print("Nama :", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM  : 20251001
Nama : Andi
Prodi: TRK

#Praktikum 03: Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20                  # Menambah data
mahasiswa["Prodi"] = "Teknik Komputer"  # Memperbarui data
del mahasiswa["Umur"]                   # Menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

#Praktikum 04: Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A-B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

#Praktikum 05: Studi Kasus - Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata Kuliah Mahasiswa 1:", mhs1)
print("Mata kuliah Mahasiswa 2:", mhs2)
print("Mata Kuliah yang sama:", mhs1 & mhs2)

Mata Kuliah Mahasiswa 1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mahasiswa 2: {'Algoritma', 'Matematika', 'Basis Data'}
Mata Kuliah yang sama: {'Algoritma', 'Matematika'}

#Praktikum 06: Studi Kasus Dictionary - Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

#Penugasan 01: Tuple Sederhana

In [ ]:
mahasiswa = ("Andi", 20, "TRK")
print("Nama   :", mahasiswa[0])
print("Umur   :", mahasiswa[1])
print("Prodi  :", mahasiswa[2])

Nama   : Andi
Umur   : 20
Prodi  : TRK

#Penugasan 02: Tuple Tidak Bisa Diubah

In [ ]:
angka = (1, 2, 3)
angka[0] = 5

TypeError: 'tuple' object does not support item assignment

#Penugasan 03: Dictionary Dasar

In [ ]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}
print("Judul Buku :", buku["Judul"])
print("Penulis    :", buku["Penulis"])
print("Tahun      :", buku["Tahun"])

Judul Buku : Algoritma
Penulis    : Munir
Tahun      : 2021

#Penugasan 04: Operasi Dictionary

In [ ]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

#Penugasan 05: Set dan Himpunan

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A-B)

Union: {'Basis Data', 'Algoritma', 'Matematika', 'Bahasa Inggris'}
Intersection: {'Matematika', 'Algoritma'}
Difference: {'Bahasa Inggris'}

#Penugasan 06: Studi Kasus Dictionary

In [ ]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

#Penugasan 07: Studi Kasus Set - Klub Mahasiswa

In [ ]:
klubA = {"Andi", "Budi", "Cici"}
klubB = {"Cici", "Deni", "Eka"}

print("Daftar seluruh anggota (Union)                                       :", klubA | klubB)
print("Daftar anggota yang ada di kedua Klub (Intersection)                 :", klubA & klubB)
print("Anggota yang hanya ada di Klub A tetapi tidak di Klub B (Difference) :", klubA - klubB)

Daftar seluruh anggota (Union)                                       : {'Cici', 'Budi', 'Andi', 'Eka', 'Deni'}
Daftar anggota yang ada di kedua Klub (Intersection)                 : {'Cici'}
Anggota yang hanya ada di Klub A tetapi tidak di Klub B (Difference) : {'Budi', 'Andi'}